<navbar-admin></navbar-admin>
<div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2" *ngFor="let user of users">
        <div class="row user-row">
            <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                <img class="img-circle"
                     src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                     alt="User Pic">
            </div>
            <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                <strong>{{user.lastName}} {{user.firstName}}</strong><br>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 dropdown-usr " data-for=".cyruxx">
                <i class="glyphicon glyphicon-chevron-down text-muted" (click)="animate(user.id)"></i>
            </div>
        </div>
        <div class="row user-infos cyruxx">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">informations de l'utilisateur</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                <img class="img-circle"
                                     src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                     alt="User Pic">
                            </div>
                            <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                <img class="img-circle"
                                     src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                                     alt="User Pic">
                            </div>
                            <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>Nom</td>
                                        <td>{{user.lastName}}</td>
                                    </tr>
                                    <tr>
                                        <td>Prénom</td>
                                        <td>{{user.firstName}}</td>
                                    </tr>
                                    <tr>
                                        <td>couriel:</td>
                                        <td>{{user.mail}}</td>
                                    </tr>
                                    <tr>
                                        <td>addresse postale:</td>
                                        <td>{{user.address}}</td>
                                    </tr>
                                    <tr>
                                        <td>status</td>
                                        <td *ngIf="user.status == 1">actif</td>
                                        <td *ngIf="user.status == 0">non confirmé</td>
                                        <td *ngIf="user.status == -1">bannis</td>
                                    </tr>
                                    <tr>
                                        <td>listes des jeux:</td>
                                        <td><a > clickez ici</a></td>
                                    </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-sm btn-primary" type="button"
                        data-toggle="tooltip" data-placement="top" title="envoyer un message" (click)="sendMessage(user)" 
                        data-toggle="modal" data-target="#modalMessage">
                        <i class="glyphicon glyphicon-envelope" ></i></button>
                        <span class="pull-right">
                            <button *ngIf="user.status==1"class="btn btn-sm btn-danger" type="button"
                            data-toggle="tooltip" data-placement="top" title="banir l'utilisateur" 
                            (click)="bann(user)"
                            data-toggle="modal" data-target="#modalBanned">
                            <i class="glyphicon glyphicon-remove"></i></button>
                            <button *ngIf="user.status==-1"class="btn btn-sm btn-success" type="button"
                            data-toggle="tooltip" data-placement="top" title="remetre l'utilisateur" 
                            (click)="unbann(user)"
                            data-toggle="modal" data-target="#modalBanned">
                            <i class="glyphicon glyphicon-ok"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Message</h4>
            </div>
            <div class="modal-body" id ="content-body">
                    <form class="form-horizontal" role="form" [formGroup]="formGroupMessage">
                            <textarea class="form-control" class="form-control" formControlName="textMessage" rows="3"></textarea>
                            <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                    <button type="button" id="confirm"  class="btn btn-primary" 
                                    (click)="send(formGroupMessage.value)" [disabled]="!formGroupMessage.valid">envoyer</button>
                            </div>
                    </form>
               
            </div>
            
          </div>
        </div>
    </div>

    <div class="modal fade" id="modalBanned" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">information</h4>
            </div>
            <div class="modal-body" id ="content-body">
                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
              <button type="button" id="confirm" (click)="confirm()" class="btn btn-primary">Oui</button>
            </div>
          </div>
        </div>
    </div>
