  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
 .dropdown ul a:hover {
    color : blue;
  }

  .navbar-default {
    background-color: #69899f;
    border-color: #425766;
  }

  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #69899f;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #d7e2e9;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #e5dbdb;
    background-color: #425766;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #69899f;
  }
  .badge{
    background-color: #6D0C0C;
  }
  :host >>> #search .form-control{
    height: 30px;
  }

  :host /deep/ .completer-input {
    width: 100%;
    }


:host >>> .completer-dropdown {
  margin-top :35px !important;
    width: 90% !important;
    max-width: 515px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100px;
    color: red;
}

:host >>> .completer-row
{ display: inherit; }

:host >>> .completer-selected-row {
    background-color: lightblue;
    color: yellow;
}

:host >>> .completer-row p {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.btn-custom{
    min-width: 100%; 
}
  
 
 
 