<div class="outer">
      <div class="row centered">
        <h1>Trouver des milliers <br /> 
          de jeux à échanger.</h1>
        
          <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-12">

            <ng2-completer [(ngModel)]="searchStr"  
            [inputClass]="['form-control']"
            [ngModelOptions]="{standalone: true}"
            [datasource]="dataService"
            [minSearchLength]="3"
            (ngModelChange)="refreshData()" 
            ></ng2-completer>

          </div>
          <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <button (click) = "searchDetails(searchStr)" class="btn btn-warning btn-custom">Recherche</button>
            </div>
    </div> 
  </div> 



  