<div #alert></div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Inscription</h3>
  </div>
  <div class="panel-body center">
    <div class="col-xs-6">
      <form (ngSubmit)="signup(formGroupSignup.value)" [formGroup]="formGroupSignup">     
        <div class="form-group has-feedback " [ngClass]="{'has-error':!formGroupSignup.controls.name.valid && formGroupSignup.controls.name.value.length >0,'has-success':formGroupSignup.controls.name.valid && formGroupSignup.controls.name.value.length >0}">
                <label >Nom :</label>
                <input type="Text" formControlName = "name" class="form-control"  placeholder="nom" [(ngModel)]="formGroupSignup.controls.name.value">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="formGroupSignup.controls.name.valid && formGroupSignup.controls.name.value.length >0"></span>
                <span class="glyphicon glyphicon-remove  form-control-feedback" aria-hidden="true" *ngIf="!formGroupSignup.controls.name.valid && formGroupSignup.controls.name.value.length >0"></span>           
        </div>
        <div class="form-group has-feedback" [ngClass]="{'has-error':!formGroupSignup.controls.firstName.valid && formGroupSignup.controls.firstName.value.length >0,'has-success':formGroupSignup.controls.firstName.valid && formGroupSignup.controls.firstName.value.length >0}">
                <label>Prenom :</label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="prenom">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="formGroupSignup.controls.firstName.valid && formGroupSignup.controls.firstName.value.length >0"></span>
                <span class="glyphicon glyphicon-remove  form-control-feedback" aria-hidden="true" *ngIf="!formGroupSignup.controls.firstName.valid && formGroupSignup.controls.firstName.value.length >0"></span>             
        </div>
        <div class="form-group">
          <div class="form-group has-feedback" [ngClass]="{'has-error':!formGroupSignup.controls.address.valid && formGroupSignup.controls.address.value.length >0,'has-success':formGroupSignup.controls.address.valid && formGroupSignup.controls.address.value.length >0}">                
            <label > Addresse:</label>
            <input type="text" class="form-control" formControlName="address" placeholder="addresse">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="formGroupSignup.controls.address.valid && formGroupSignup.controls.address.value.length >0"></span>
            <span class="glyphicon glyphicon-remove  form-control-feedback" aria-hidden="true" *ngIf="!formGroupSignup.controls.address.valid && formGroupSignup.controls.address.value.length >0"></span>  
        </div>
      </div>
      <div class="form-group">
          <div class="form-group has-feedback" [ngClass]="{'has-error':!formGroupSignup.controls.postalCode.valid && formGroupSignup.controls.postalCode.value.length >0,'has-success':formGroupSignup.controls.postalCode.valid && formGroupSignup.controls.postalCode.value.length >0}">                
            <label > Code postal:</label>
            <input type="text" class="form-control" formControlName="postalCode" placeholder="code postal">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="formGroupSignup.controls.postalCode.valid && formGroupSignup.controls.postalCode.value.length >0"></span>
            <span class="glyphicon glyphicon-remove  form-control-feedback" aria-hidden="true" *ngIf="!formGroupSignup.controls.postalCode.valid && formGroupSignup.controls.postalCode.value.length >0"></span>  
        </div>
      </div>
      <div class="form-group">
          <div class="form-group has-feedback" [ngClass]="{'has-error':!formGroupSignup.controls.dateOfBirth.valid && formGroupSignup.controls.dateOfBirth.value.length >0,'has-success':formGroupSignup.controls.dateOfBirth.valid && formGroupSignup.controls.dateOfBirth.value.length >0}">                
            <label > Date de naissance:</label>
            <input type="date" class="form-control" formControlName="dateOfBirth" placeholder="Date de naissance">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="formGroupSignup.controls.dateOfBirth.valid && formGroupSignup.controls.dateOfBirth.value.length >0"></span>
            <span class="glyphicon glyphicon-remove  form-control-feedback" aria-hidden="true" *ngIf="!formGroupSignup.controls.dateOfBirth.valid && formGroupSignup.controls.dateOfBirth.value.length >0"></span>  
        </div>
      </div>
      
      <div class="form-group">
          <div class="form-group has-feedback" [ngClass]="{'has-error':!formGroupSignup.controls.mail.valid && formGroupSignup.controls.mail.value.length >0,'has-success':formGroupSignup.controls.mail.valid && formGroupSignup.controls.mail.value.length >0}">                
            <label > Addresse mail:</label>
            <input type="email" class="form-control" formControlName="mail" placeholder="addresse mail">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="formGroupSignup.controls.mail.valid && formGroupSignup.controls.mail.value.length >0"></span>
            <span class="glyphicon glyphicon-remove  form-control-feedback" aria-hidden="true" *ngIf="!formGroupSignup.controls.mail.valid && formGroupSignup.controls.mail.value.length >0"></span>  
        </div>
      </div>
            
      <div class="form-group">
          <div class="form-group has-feedback" [ngClass]="{'has-error':!formGroupSignup.controls.password.valid && formGroupSignup.controls.password.value.length >0,'has-success':formGroupSignup.controls.password.valid && formGroupSignup.controls.password.value.length >0}">                
            <label > Mot de passe :</label>
            <input type="password" class="form-control" formControlName="password" >
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="formGroupSignup.controls.password.valid && formGroupSignup.controls.password.value.length >0"></span>
            <span class="glyphicon glyphicon-remove  form-control-feedback" aria-hidden="true" *ngIf="!formGroupSignup.controls.password.valid && formGroupSignup.controls.password.value.length >0"></span>  
        </div>
      </div>
      <div class="form-group">
          <div class="form-group has-feedback" [ngClass]="{'has-error':!formGroupSignup.controls.confirmPassword.valid && formGroupSignup.controls.confirmPassword.value.length >0,'has-success':formGroupSignup.controls.confirmPassword.valid && formGroupSignup.controls.confirmPassword.value.length >0}">                
            <label > Confirmer mot de passe :</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="formGroupSignup.controls.confirmPassword.valid && formGroupSignup.controls.confirmPassword.value.length >0"></span>
            <span class="glyphicon glyphicon-remove  form-control-feedback" aria-hidden="true" *ngIf="!formGroupSignup.controls.confirmPassword.valid && formGroupSignup.controls.confirmPassword.value.length >0"></span>  
        </div>
      </div>
              <div class="form-group">
                <label >Photo de profil</label>
                <input type="file" id="exampleInputFile">
              </div>
              
              <button type="submit" [disabled]="!formGroupSignup.valid" class="btn btn-primary">m'inscrire</button>
              <img *ngIf="loading " src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />     
              
            </form>
      </div>
  </div>
</div>