<div class="search-results"
infinite-scroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="300"
(scrolled)="onScroll()">
<div class="page">
    <h3>Résultat de la recherche :</h3>
    <div class="listGames">
            <div class="game" (click)="alert(this)" style="cursor:pointer" *ngFor="let game of games">
                    <div class="thumb">
                        <img src="https://besthqwallpapers.com/Uploads/11-7-2017/16367/thumb-fifa-18-logo-2017-games-football-simulator.jpg">
                    </div>
                    <div class="informations">
                        <div class="titleGame">{{game.name}}</div>
                        <div class="description">{{game.summary}}</div>
                        <span><b>Date release :</b> {{game.first_release_date}}</span>
                    </div>
                </div>
                
            <hr class="style-two" />
        
    </div>

</div>
</div>