<navbar> </navbar>
<div class="search-results" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" (scrolled)="onScroll()">
    <div class="full-width bg-transparent">
        <div class="page">
            <h3>Résultat de la recherche :</h3>
            <div class="listGames">
                <div *ngFor="let game of games">
                    <div class="game" (click)="alert(this)" style="cursor:pointer">
                        <div class="thumb">
                             <img *ngIf="game.image" src="http:{{game.image.url}}">
                            <img *ngIf="!game.image" src="https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF">
                        </div>
                        <div class="informations">
                            <div class="titleGame">{{game.title}}</div>
                            <div class="description">{{game.overview | truncate : 250 : true}}</div>
                            <div>
                                <b>Date release :</b> {{game.dateRelease | date}}
                            </div>
                            <button *ngIf="user" type="button" (click)="dynamicModal(game.id, game.title)" class="btn btn-success"
                            data-toggle="modal" data-target="#modalDescription">Ajouter</button>
            
                            <button *ngIf="user" type="button" class="btn btn-primary" 
                            data-toggle="modal" data-target="#modalDescription">Demander</button>
                        </div>
                    </div>
                    <hr class="style-two" />
                </div>
            </div>

        </div>  
    </div>
</div>

<!-- Modal Description Game  -->
<div class="modal fade" id="modalDescription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        
        <div class="modal-body" id ="content-body">
            Ajouter le jeu <b id="gameName"></b> à votre bibliothèque ?<br />
            Selectionnez d'abords une plateform :
            <div>
                <select id="plateformGame" [(ngModel)]="idGamePlatform">
                        <option *ngFor="let platform of platforms" [ngValue]="platform.idPlatform">{{platform.namePlatform}}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
          <button type="button" id="confirm" (click)="confirm(id)" class="btn btn-primary">Oui</button>
        </div>
      </div>
    </div>
</div>