<navbar> </navbar>
<div class="search-results">
    <div class="full-width bg-transparent">
        <div class="page">
            <h3>Mes jeux :</h3>
            <div class="listGames">
                <div *ngFor="let game of games">
                    <div class="game" (click)="alert(this)" style="cursor:pointer">
                        <div class="thumb">
                             <img *ngIf="game.game_cover" src="http:{{game.game_cover}}">
                            <img *ngIf="!game.game_cover" src="https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF">
                        </div>
                        <div class="informations">
                            <div class="titleGame">{{game.game_name}}</div>
                            <div class="description">{{game.summary | truncate : 250 : true}}</div>
                            <div>
                                <b>Date release :</b> {{game.date_release | date}}
                            </div>
                            <div><b>Plateforme :</b> {{game.platform}}</div>
                            <button type="button" class="btn btn-danger" (click)="dynamicModal(game.id, game.game_name, game.platform)" 
                            data-toggle="modal" data-target="#modalDescription">Retirer</button>
                        </div>
                    </div>
                    <hr class="style-two" />
                </div>
            </div>

        </div>  
    </div>
</div>

<!-- Modal Description Game  -->
<div class="modal fade" id="modalDescription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        
        <div class="modal-body" id ="content-body">
            Retrirer ce jeu <b id="gameName"></b> de votre bibliothèque ?<br />
            Plateforme : <b id="platform"></b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
          <button type="button" id="confirm" (click)="confirmDelete()" class="btn btn-primary">Oui</button>
        </div>
      </div>
    </div>
</div>